<% if logged_in? %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <aside class="col-sm-7 mr-5">
      <h1 class="mt-5 pb-2"><i class="fas fa-tasks mr-3"></i>本日のタスク</h1>
        <%= render 'tasks/tasks', tasks: @today_tasks %>
      <h2 class="mt-5 pb-2"><i class="fas fa-tasks mr-3"></i>明日のタスク</h2>
        <%= render 'tasks/tasks', tasks: @next_tasks %>
      <h3 class="mt-5 pb-2"><i class="fas fa-tasks mr-3"></i>残りのタスク</h3>
        <%= render 'tasks/tasks', tasks: @attempted_tasks %>
    </aside>
    <div class="col-sm-4">
      <%= form_with(model: @task, local: true) do |f| %>
        <div class="new_task_form mb-5">
          <h4 class="mt-5 pb-2 border-bottom"><i class="fas fa-pencil-alt mr-3"></i>新規タスク追加</h3>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">日程</label>
            <div class="col-sm-9">
              <%= f.date_field :scheduled_date, class: 'cform-control', rows: 1 %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">優先度</label>
            <div class="col-sm-9">
              <%= f.select :priority, [["低", 0], ["中", 1], ["高", 2]], class: 'form-control'%>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">内容</label>
            <div class="col-sm-9">
              <%= f.text_area :content, class: 'form-control', rows: 3 %>
            </div>
          </div>
          <%= f.submit '+ 新規投稿', class: 'submit_btn btn btn-block' %>
        <% end %>
       </div>
      <div class="daily_markdown">
        <h4 class="mt-5 pb-2 border-bottom"><i class="fab fa-markdown mr-3"></i>Markdown</h3>
        <div class="copy_box_area">
          # 本日のタスク
          <%= render 'daily-report/markdown', tasks: @today_tasks %>
          ----<br>
          # 明日のタスク
          <%= render 'daily-report/markdown', tasks: @next_tasks %>
        </div>
      </div>
    </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>My Tasks</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>