<% if logged_in? %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <aside class="col-sm-8">
      <h1 class="mt-4">本日のタスク</h1>
        <%= render 'tasks/today_tasks', tasks: @tasks %>
      <h1 class="mt-4">明日のタスク</h1>
   　　   <%= render 'tasks/next_tasks', tasks: @tasks %>
      <h1 class="mt-4">明日以降のタスク</h1>
    　　  <%= render 'tasks/future_tasks', tasks: @tasks %>
    </aside>
    <div class="col-sm-4">
        <%= form_with(model: @task, local: true) do |f| %>
        <div class="form-group">
          <div class="ml-1">
            <label class="ml-1 col-form-label">日程</label><%= f.date_field :scheduled_date, class: 'form-control', rows: 1 %>
          </div>
          <div class="ml-1">
            <label class="ml-1 col-form-label">優先度</label>　<%= f.select :priority, [["低", 0], ["中", 1], ["高", 2]], class: 'form-control'%>
          </div>
          <label class="ml-1 col-form-label">内容</label>
          <div class="ml-1">
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
          </div>
        </div>
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the My Tasks</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>