<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Task List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><img class="mr-2 rounded" src="<%= gravatar_url(current_user, { size: 40 }) %>" alt=""><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item card-block user_drop user_drop text-left"><%= link_to content_tag(:i, '', class: 'fas fa-tasks mr-3')+'Task List', root_path, class: 'btn dropdown_link'%></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item card-block user_drop user_drop text-left"><%= link_to content_tag(:i, '', class: 'far fa-comment mr-3')+'Feeling', root_path, class: 'btn dropdown_link'%></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item card-block user_drop user_drop text-left"><%= link_to content_tag(:i, '', class: 'fas fa-sign-out-alt mr-3')+' Logout', logout_path, method: :delete, class: 'btn dropdown_link'%></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>